* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#apple {
    width: 40px;
    height: auto;
}

.song {
    padding: 10px;
}
.song_box {
    
    border: 3px;
    border-color: grey;
    border-style: groove;
    margin:15px;
    width: 40%;
    border-radius: 10px;
    padding: 20px; 
}

.track_info {
    display: flex;
}

.song_info {
    display: flex;
}

.tracks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.search {
    text-align: center;
    margin-top: 20px;
}

img {
    border-radius: 100%;
}